<p>
    Witaj w Szyfr24, {{ user.email }}!
</p>

<p>
    Zaproszono Cię do usługi szyfrowania. Aby dokończyć rejestrację, użyjesz
    aplikacji uwierzytelniającej (np. Google Authenticator) na swoim telefonie.
</p>

<p>
    Kliknij poniższy link, aby skonfigurować aplikację i ustawić hasło:
    <br><a href="{{ invite_url }}">{{ invite_url }}</a>
</p>

<p>
    Na otwartej stronie zeskanuj kod QR aplikacją Google Authenticator,
    a następnie wpisz wyświetlany 6-cyfrowy kod.
</p>

<p>
    Z poważaniem,
    <br>Zespół Szyfr24
</p>
