{% extends "layout/auth_base.html" %}

{% block title %}Kod resetowania | Szyfr24{% endblock %}

{% block content %}
<h2>Sprawdź pocztę</h2>
<div class="message">
    <p class="box-msg">Jeśli konto z podanym adresem email istnieje, wysłaliśmy kod TOTP do zresetowania hasła.</p>
    <p class="box-msg">Jeśli wiadomość nie dotarła, sprawdź podany adres email oraz folder „Spam”.</p>
    <a href="{% url 'authentication:password_reset_verify' %}" class="btn btn-primary btn-block">Wpisz kod TOTP</a>
</div>
{% endblock %}
