{% extends "layout/auth_base.html" %}

{% block title %}Resetowanie hasła | Szyfr24{% endblock %}

{% block content %}
<h2>Użyj aplikacji uwierzytelniającej</h2>
<div class="message">
    <p class="box-msg">Otwórz aplikację Google Authenticator na telefonie i odczytaj aktualny 6-cyfrowy kod dla swojego konta.</p>
    <p class="box-msg">Na następnym ekranie podaj adres email oraz ten kod, aby ustawić nowe hasło.</p>
    <a href="{% url 'authentication:password_reset_verify' %}" class="btn btn-primary btn-block">Wpisz kod z aplikacji</a>
</div>
{% endblock %}
